# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
env:
  CARGO_TERM_COLOR: always
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.88
          default: true
          components: clippy, rustfmt

      - name: Install Wasm Rust target
        run: rustup target add wasm32-wasip1

      - name: audit dependencies
        run: |
          cargo install cargo-audit --locked
          cargo audit

      - name: Install cargo-component
        uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-component

      - name: Make
        run: |
          make
        env:
          RUST_LOG: spin=trace
